# --- IDE & System ---
.vs/
.vscode/
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
desktop.ini
Thumbs.db
version.txt

# --- CODE ---
*.cs
*.xaml
*.csproj
*.sln
macroREO.ico

# --- UPLOADS ---
!README.md
!LICENSE
!.gitignore