# --- IDE & System ---
assets/
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# --- ASSETS ---
macroREO.ico
version.txt

# --- CODE ---
*.cs
*.xaml
*.csproj
*.sln

# --- UPLOADS ---
!README.md
!LICENSE
!.gitignore